[submodule "libs/luafilesystem"]
	path = libs/luafilesystem
	url = https://github.com/EpicNetwork/luafilesystem
[submodule "libs/luajit"]
	path = libs/luajit
	url = https://github.com/EpicNetwork/LuaJIT
[submodule "libs/lpeg"]
	path = libs/lpeg
	url = https://github.com/EpicNetwork/lpeg
[submodule "libs/luabry"]
	path = libs/luabry
	url = https://github.com/ocornoc/luabry
[submodule "libs/luasocket"]
	path = libs/luasocket
	url = https://github.com/EpicNetwork/luasocket
