[submodule "libs/luajit-2.0"]
	path = libs/luajit
	url = http://luajit.org/git/luajit-2.0.git
[submodule "libs/luafilesystem"]
	path = libs/luafilesystem
	url = https://github.com/EpicNetwork/luafilesystem
